
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGenreLabel">Create or edit a Genre</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.genre.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.genre.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.genre.code"
                    required />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_goldenAgeStartingYear">Golden Age Starting Year</label>
            <input type="number" class="form-control" name="goldenAgeStartingYear" id="field_goldenAgeStartingYear"
                    ng-model="vm.genre.goldenAgeStartingYear"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_goldenAgeEndingYear">Golden Age Ending Year</label>
            <input type="number" class="form-control" name="goldenAgeEndingYear" id="field_goldenAgeEndingYear"
                    ng-model="vm.genre.goldenAgeEndingYear"
                     />
        </div>

        <div class="form-group">
            <label for="field_characteristicInstruments">Characteristic Instruments</label>
            <select class="form-control" id="field_characteristicInstruments" multiple name="characteristicInstruments" ng-model="vm.genre.characteristicInstruments" ng-options="instrument as instrument.name for instrument in vm.instruments track by instrument.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
